"Uncategorized","Copy SHA-1","Ctrl+C","In Git Reflog View"
"Changelog","Prepare Changelog In Editor","Ctrl+Alt+P","Comparing in an Editor"
"Window","Show View Menu","Ctrl+F10","In Dialogs and Windows"
"Task Editor","Submit Task","Shift+Alt+S","In Tasks Editor"
"Terminal view commands","Terminal view insert","Alt+E","Terminal widget context"
"Changelog","Prepare Changelog","Ctrl+Alt+P","In Windows"
"Run/Debug","Previous Page of Memory","Shift+Ctrl+,","In Table Memory Rendering"
"Terminal view commands","Terminal view insert","Alt+F","Terminal widget context"
"Navigate","Search Repository for Task","Shift+Ctrl+F12","In Windows"
"Edit","Find Next","Ctrl+K","Editing Text"
"Navigate","Collapse All","Shift+Ctrl+Numpad_Divide","In Windows"
"Task Repositories","Mark Task Incomplete","Shift+Alt+I","In Tasks View"
"Changelog","Prepare Changelog In Editor","Ctrl+Alt+P","Editing Text"
"Edit","Undo","Ctrl+Z","In Dialogs and Windows"
"Navigate","Last Edit Location","Ctrl+Esc","In Windows"
"Views","Show View","Shift+Alt+Q Q","In Windows"
"Run/Debug","Add Memory Block","Ctrl+Alt+M","In Memory View"
"File","Save All","Shift+Ctrl+S","In Windows"
"Edit","Paste","Shift+Insert","In Dialogs and Windows"
"Run/Debug","Next Memory Monitor","Ctrl+Alt+N","In Memory View"
"Source","Indent Line","Ctrl+I","C/C++ Editor"
"Task Repositories","Mark Task Unread","Shift+Alt+U","In Tasks View"
"Run/Debug","Toggle Breakpoint","Shift+Ctrl+B","In Windows"
"File","Refresh","F5","In Windows"
"Text Editing","Collapse","Ctrl+Numpad_Subtract","Editing Text"
"Edit","Incremental Find","Ctrl+J","Editing Text"
"Text Editing","Delete Line","Shift+D","Editing Text"
"Refactor - C++","Rename - Refactoring ","Shift+Alt+R","In C/C++ Views"
"Source","Add Block Comment","Shift+Ctrl+/","C/C++ Editor"
"Changelog","Insert ChangeLog entry","Ctrl+Alt+C","Editing Text"
"Views","Show View (Breakpoints)","Shift+Alt+Q B","In Windows"
"Text Editing","Expand","Ctrl+Numpad_Add","Editing Text"
"Refactor - C++","Extract Local Variable - Refactoring ","Shift+Alt+L","C/C++ Editor"
"Window","Previous Editor","Ctrl+Tab","In Windows"
"Window","Maximize Active View or Editor","Ctrl+M","In Windows"
"UML2 Sequence Diagram Viewer Commands","Scroll down","Shift+Alt+Down","UML2 Sequence Diagram Viewer"
"Source","Go to Previous Member","Shift+Ctrl+Up","C/C++ Editor"
"Text Editing","Toggle Folding","Ctrl+Numpad_Divide","Editing Text"
"Project","Build All","Ctrl+B","In Windows"
"Navigate","Open Call Hierarchy","Ctrl+Alt+H","In C/C++ Views"
"UML2 Sequence Diagram Viewer Commands","Scroll up","Shift+Alt+Up","UML2 Sequence Diagram Viewer"
"Terminal view commands","Terminal view insert","Alt+T","Terminal widget context"
"Navigate","Open Include Browser","Ctrl+Alt+I","In C/C++ Views"
"Text Editing","Select Line Start","Shift+Home","Editing Text"
"Window","Show System Menu","Alt+-","In Windows"
"Run/Debug","Go to Address","Ctrl+G","In Table Memory Rendering"
"Project","Make Target Build","Shift+F9","In Windows"
"Text Editing","To Lower Case","Shift+Ctrl+Y","Editing Text"
"Source","Correct Indentation","Ctrl+I","SystemTap Editor"
"Edit","Delete","Delete","In Windows"
"Terminal view commands","Terminal view insert","Alt+H","Terminal widget context"
"Task Repositories","Mark Task Read","Shift+Alt+R","In Tasks View"
"Search","Open Search Dialog","Ctrl+H","In Windows"
"Source","Open Declaration","F3","In Macro Expansion Hover"
"Terminal view commands","Terminal view insert","Alt+G","Terminal widget context"
"Navigate","Open Type Hierarchy","F4","C/C++ Editor"
"Makefile Source","Uncomment","Ctrl+\","Makefile Editor"
"Editor Commands","Toggle Comment","Shift+Ctrl+C","Editing Text"
"Text Editing","Line Start","Home","Editing Text"
"Terminal view commands","Terminal view insert","Alt+N","Terminal widget context"
"Window","Previous Perspective","Shift+Ctrl+F8","In Windows"
"Reverse Debugging Commands","Uncall","Shift+F7","Debugging C/C++"
"Editor Commands","Download Sources","Shift+Ctrl+R D","Specfile Editor Context"
"Text Editing","Select Previous Word","Shift+Ctrl+Left","Editing Text"
"Navigate","Expand All","Shift+Ctrl+Numpad_Multiply","In Windows"
"Text Editing","Next Word","Ctrl+Right","Editing Text"
"Navigate","Open Type Hierarchy","F4","In C/C++ Views"
"Focused UI","Make Landmark","Shift+Ctrl+Alt+Up","In Windows"
"Navigate","Open Remote Task","Shift+Ctrl+Alt+F12","In Windows"
"UML2 Sequence Diagram Viewer Commands","Show node start ","Shift+Alt+Home","UML2 Sequence Diagram Viewer"
"Views","Show View (Cheat Sheets)","Shift+Alt+Q H","In Windows"
"UML2 Sequence Diagram Viewer Commands","Scroll right","Shift+Alt+Right","UML2 Sequence Diagram Viewer"
"Focused UI","Make Less Interesting","Shift+Ctrl+Alt+Down","In Windows"
"Navigate","Previous","Ctrl+,","In Windows"
"Run/Debug","Go to Address...","Ctrl+G","In Disassembly"
"Edit","Shift Left","Shift+Tab","C/C++ Editor"
"Text Editing","Move Lines Up","Alt+Up","Editing Text"
"Navigate","Open Include Browser","Ctrl+Alt+I","C/C++ Editor"
"Text Editing","Delete Next Word","Ctrl+Delete","Editing Text"
"Text Editing","Select Next Word","Shift+Ctrl+Right","Editing Text"
"Task Repositories","New Local Task","Insert","In Tasks View"
"Edit","Copy","Ctrl+Insert","In Dialogs and Windows"
"Views","Show View (Problems)","Shift+Alt+Q X","In Windows"
"Run/Debug","Step Into Selection","Ctrl+F5","Debugging C/C++"
"Source","Open Declaration","F3","In C/C++ Views"
"Source","Declaration","Ctrl+G","In C/C++ Views"
"Text Editing","Text Start","Ctrl+Home","Editing Text"
"Terminal view commands","Copy","Shift+Ctrl+C","Terminal widget context"
"Source","Back","Alt+Left","In Macro Expansion Hover"
"Source","Explore Macro Expansion","Ctrl+#","C/C++ Editor"
"Task Editor","Maximize Part","Shift+Ctrl+M","In Tasks Editor"
"Terminal view commands","Terminal view insert","Alt+P","Terminal widget context"
"Changelog","Format ChangeLog","Esc Ctrl+F","Editing Text"
"Edit","Quick Fix","Ctrl+1","In Dialogs and Windows"
"Terminal view commands","Terminal view insert","Alt+W","Terminal widget context"
"Edit","Content Assist","Ctrl+Space","In Dialogs and Windows"
"File","New menu","Shift+Alt+N","In Windows"
"Edit","Quick Diff Toggle","Shift+Ctrl+Q","Editing Text"
"Task Repositories","Mark Task Complete","Shift+Alt+C","In Tasks View"
"Navigate","Forward History","Alt+Right","In Windows"
"Search","Find Text in Workspace","Ctrl+Alt+G","In Windows"
"Text Editing","Scroll Line Up","Ctrl+Up","Editing Text"
"Window","Next View","Ctrl+F7","In Windows"
"Views","Show View (Search)","Shift+Alt+Q S","In Windows"
"File","Print","Ctrl+P","In Windows"
"Project","Rebuild Last Target","F9","In Windows"
"Edit","Redo","Shift+Ctrl+Z","In Dialogs and Windows"
"Terminal view commands","Terminal view insert","Alt+R","Terminal widget context"
"Terminal view commands","Paste","Shift+Ctrl+V","Terminal widget context"
"Edit","Find Previous","Shift+Ctrl+K","Editing Text"
"Navigate","Quick Outline","Shift+Ctrl+O","Task Markup Editor Source Context"
"Navigate","Open Call Hierarchy","Ctrl+Alt+H","C/C++ Editor"
"Task Repositories","Show Tooltip Description","F4","In Tasks View"
"Text Editing","Duplicate Lines","Ctrl+Alt+Up","Editing Text"
"Source","Explore Macro Expansion","Ctrl+=","C/C++ Editor"
"Source","Toggle Comment","Ctrl+/","SystemTap Editor"
"Source","Open Element","Shift+Ctrl+T","In C/C++ Views"
"Task Repositories","Open Selected Task","Ctrl+Enter","In Tasks View"
"Window","Next Perspective","Ctrl+F8","In Windows"
"Window","Show Contributing Plug-in","Shift+Alt+F3","In Dialogs and Windows"
"Source","Add Include","Shift+Ctrl+N","C/C++ Editor"
"Reverse Debugging Commands","Reverse Resume","Shift+F8","Debugging C/C++"
"Views","Show View (Task List)","Shift+Alt+Q K","In Windows"
"Task Repositories","New Subtask","Shift+Insert","In Tasks View"
"File","Close All","Shift+Ctrl+W","In Windows"
"Navigate","Next","Ctrl+.","In Windows"
"File","Properties","Alt+Enter","In Windows"
"Text Editing","Insert Line Below Current Line","Shift+Enter","Editing Text"
"Edit","Select Enclosing C/C++ Element","Shift+Alt+Up","C/C++ Editor"
"Task Repositories","Quick Outline","Ctrl+O","In Tasks Editor"
"Text Editing","Collapse All","Shift+Ctrl+Numpad_Divide","Editing Text"
"Refactor - C++","Toggle Function - Refactoring ","Shift+Alt+T","C/C++ Editor"
"Task Repositories","Mark Task Read and Go To Next Unread Task","Shift+Alt+Down","In Tasks View"
"Navigate","Backward History","Alt+Left","In Windows"
"Task Repositories","Mark Task Unread","Shift+Alt+U","In Tasks Editor"
"Reverse Debugging Commands","Reverse Step Over","Shift+F6","Debugging C/C++"
"Editor Commands","Organize patches","Shift+Ctrl+O","Specfile Editor Context"
"Git","Copy Path to Clipboard","Ctrl+C","In Git Repositories View"
"Run/Debug","Step Into","F5","Debugging"
"Views","Show View (Error Log)","Shift+Alt+Q L","In Windows"
"Git","Commit...","Ctrl+#","In Windows"
"Refactor - C++","Extract Function - Refactoring ","Shift+Alt+M","C/C++ Editor"
"Text Editing","Move Lines Down","Alt+Down","Editing Text"
"Text Editing","Toggle Overwrite","Insert","Editing Text"
"Run/Debug","Debug","F11","In Windows"
"Run/Debug","Step Return","F7","Debugging"
"Run/Debug","EOF","Ctrl+D","In I/O Console"
"Run/Debug","Resume","F8","Debugging"
"Source","Toggle Mark Occurrences","Shift+Alt+O","C/C++ Editor"
"Window","Switch to Editor","Shift+Ctrl+E","In Windows"
"Text Editing","Expand All","Ctrl+Numpad_Multiply","Editing Text"
"File","Save","Ctrl+S","In Windows"
"Edit","Copy","Ctrl+C","In Dialogs and Windows"
"Edit","Paste","Ctrl+V","In Dialogs and Windows"
"UML2 Sequence Diagram Viewer Commands","Scroll left","Shift+Alt+Left","UML2 Sequence Diagram Viewer"
"Source","Open Declaration","F3","C/C++ Editor"
"Source","Format","Shift+Ctrl+F","C/C++ Editor"
"Task Repositories","Mark Task Read","Shift+Alt+R","In Tasks Editor"
"Edit","Cut","Shift+Delete","In Dialogs and Windows"
"Text Editing","Show Tooltip Description","F2","Editing Text"
"Navigate","Quick Outline","Ctrl+O","WikiText Markup Source Context"
"Source","Open Element","Shift+Ctrl+T","C/C++ Editor"
"Edit","Incremental Find Reverse","Shift+Ctrl+J","Editing Text"
"Window","Next Editor","Ctrl+F6","In Windows"
"Source","Toggle Source/Header","F4","C/C++ Editor"
"Navigate","Next Page","Alt+F7","In Windows"
"UML2 Sequence Diagram Viewer Commands","Go to associated message","Alt+R","UML2 Sequence Diagram Viewer"
"Edit","Restore Last C/C++ Selection","Shift+Alt+Down","C/C++ Editor"
"Navigate","Deactivate Task","Shift+Ctrl+F9","In Windows"
"File","Rename","F2","In Windows"
"Edit","Context Information","Shift+Ctrl+Space","In Dialogs and Windows"
"Source","Sort Lines","Ctrl+Alt+S","C/C++ Editor"
"Makefile Source","Open declaration","F3","Makefile Editor"
"Navigate","Go To Previous Unread Task","Alt+Up","In Tasks View"
"Changelog","Insert ChangeLog entry","Ctrl+Alt+C","Comparing in an Editor"
"Source","Remove Block Comment","Shift+Ctrl+\","C/C++ Editor"
"Source","Go to Matching Bracket","Shift+Ctrl+P","C/C++ Editor"
"Source","Go to Next Member","Shift+Ctrl+Down","C/C++ Editor"
"Window","Show Key Assist","Shift+Ctrl+L","In Dialogs and Windows"
"Edit","Toggle Block Selection","Shift+Alt+A","Editing Text"
"File","Close","Ctrl+W","In Windows"
"Makefile Source","Comment","Ctrl+/","Makefile Editor"
"Window","Show Ruler Context Menu","Ctrl+F10","Editing Text"
"Terminal view commands","Terminal view insert","Alt+S","Terminal widget context"
"Navigate","Open Type in Hierarchy","Shift+Ctrl+H","In C/C++ Views"
"Run/Debug","Run","Ctrl+F11","In Windows"
"Text Editing","Copy Lines","Ctrl+Alt+Down","Editing Text"
"Reverse Debugging Commands","Reverse Step Into","Shift+F5","Debugging C/C++"
"Window","Activate Editor","F12","In Windows"
"Window","Previous View","Shift+Ctrl+F7","In Windows"
"Text Editing","Text End","Ctrl+End","Editing Text"
"Run/Debug","Terminate","Ctrl+F2","Debugging"
"Edit","Select All","Ctrl+A","In Dialogs and Windows"
"Text Editing","Delete Previous Word","Ctrl+Backspace","Editing Text"
"Text Editing","Select Line End","Shift+End","Editing Text"
"Source","Declaration","Ctrl+G","C/C++ Editor"
"Edit","Word Completion","Alt+/","Editing Text"
"Navigate","Activate Task","Ctrl+F9","In Windows"
"File","Close All","Shift+Ctrl+F4","In Windows"
"Task Repositories","Mark Task Complete","Shift+Alt+C","In Tasks Editor"
"Text Editing","Scroll Line Down","Ctrl+Down","Editing Text"
"Uncategorized","Show Markup Cheat Sheet","F1","WikiText Markup Source Context"
"Views","Show View (Synchronize)","Shift+Alt+Q Y","In Windows"
"Window","Quick Access","Ctrl+3","In Windows"
"Terminal view commands","Terminal view insert","Alt+A","Terminal widget context"
"Run/Debug","Run to Line","Ctrl+R","Debugging"
"Run/Debug","Toggle Memory Monitors Pane","Ctrl+T","In Memory View"
"Navigate","Show In...","Shift+Alt+W","In Windows"
"Source","References","Shift+Ctrl+G","In C/C++ Views"
"Navigate","Go To Next Unread Task","Alt+Down","In Tasks View"
"Text Editing","Line End","End","Editing Text"
"Source","Forward","Alt+Right","In Macro Expansion Hover"
"Text Editing","To Upper Case","Shift+Ctrl+X","Editing Text"
"Source","Show Tooltip Description","F2","Autoconf Editor"
"Navigate","Open Task","Ctrl+F12","In Windows"
"Task Repositories","Mark Task Incomplete","Shift+Alt+I","In Tasks Editor"
"Edit","Toggle Insert Mode","Shift+Ctrl+Insert","Editing Text"
"Run/Debug","New Rendering","Ctrl+N","In Memory View"
"Source","Quick Type Hierarchy","Ctrl+T","C/C++ Editor"
"Views","Show View (Console)","Shift+Alt+Q C","In Windows"
"Navigate","Previous Sub-Tab","Alt+PageUp","In Dialogs and Windows"
"Views","Show View (Variables)","Shift+Alt+Q V","In Windows"
"UML2 Sequence Diagram Viewer Commands","Show node end","Shift+Alt+End","UML2 Sequence Diagram Viewer"
"Changelog","Prepare Commit","Ctrl+Alt+V","Editing Text"
"Text Editing","Delete to End of Line","Shift+Ctrl+Delete","Editing Text"
"Run/Debug","Close Rendering","Ctrl+W","In Memory View"
"File","Close","Ctrl+F4","In Windows"
"Edit","Select Next C/C++ Element","Shift+Alt+Right","C/C++ Editor"
"Source","References","Shift+Ctrl+G","C/C++ Editor"
"Edit","Cut","Ctrl+X","In Dialogs and Windows"
"Text Editing","Previous Word","Ctrl+Left","Editing Text"
"Views","Show View (History)","Shift+Alt+Q Z","In Windows"
"Source","Surround With Quick Menu","Shift+Alt+Z","C/C++ Editor"
"Text Editing","Reset Structure","Shift+Ctrl+Numpad_Multiply","Editing Text"
"Views","Show View (Outline)","Shift+Alt+Q O","In Windows"
"Text Editing","Join Lines","Ctrl+Alt+J","Editing Text"
"Run/Debug","Use Step Filters","Shift+F5","In Windows"
"Refactor - C++","Rename - Refactoring ","Shift+Alt+R","C/C++ Editor"
"File","New","Ctrl+N","In Windows"
"Run/Debug","Next Page of Memory","Shift+Ctrl+.","In Table Memory Rendering"
"Focused UI","Show Context Quick View","Shift+Ctrl+Alt+Right","In Windows"
"Navigate","Open Resource","Shift+Ctrl+R","In Windows"
"Navigate","Previous Page","Shift+Alt+F7","In Windows"
"Window","Quick Switch Editor","Ctrl+E","In Windows"
"Refactor - C++","Extract Constant - Refactoring ","Alt+C","C/C++ Editor"
"Source","Show Source Quick Menu","Shift+Alt+S","C/C++ Editor"
"Terminal view commands","Terminal view insert","Alt+V","Terminal widget context"
"Task Repositories","Mark Task Read and Go To Previous Unread Task","Shift+Alt+Up","In Tasks View"
"Editor Commands","Prepare Sources","Shift+Ctrl+R P","Specfile Editor Context"
"Run/Debug","Step Over","F6","Debugging"
"Edit","Find and Replace","Ctrl+F","In Windows"
"Edit","Select Previous C/C++ Element","Shift+Alt+Left","C/C++ Editor"
"Navigate","Open Type in Hierarchy","Shift+Ctrl+H","C/C++ Editor"
"Navigate","Go to Line","Ctrl+L","Editing Text"
"Text Editing","Insert Line Above Current Line","Shift+Ctrl+Enter","Editing Text"
"Source","Comment/Uncomment","Ctrl+`","C/C++ Editor"
"Navigate","Next Sub-Tab","Alt+PageDown","In Dialogs and Windows"
"Source","Show outline","Ctrl+O","C/C++ Editor"
"Git","Paste Repository Path or URI","Ctrl+V","In Git Repositories View"
"Run/Debug","Go to Program Counter","Home","In Disassembly"
"Source","Organize Includes","Shift+Ctrl+O","C/C++ Editor"
"Editor Commands","Show outline","Ctrl+O","Specfile Editor Context"
