<launch>
  <arg name="video_dev" value="/dev/video0"/>
  <node name="b_usb_cam" pkg="b_usb_cam" type="b_usb_cam_node" output="screen" >
    <param name="video_device" value="$(arg video_dev)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera_link" />
    <param name="io_method" value="mmap"/>
  </node>
</launch>
