<launch>
  <param name="param0" type="string" value="000"/>

  <group ns="first">
  <node pkg="nodelet" type="nodelet" name="camera" args="manager" output="screen"/>
  <arg name="param0" default="000"/>
<!--  <node pkg="nodelet" type="nodelet" name="my_manager" args="manager" output="screen"/>-->
  <node pkg="nodelet" type="nodelet" name="my_nodelet" args="load pkg_test_nodelet/TestNodelet camera $(arg param0)" output="screen">
    <param name="param1" type="string" value="hello"/>
  </node>
  </group>

<!--  <group ns="global">-->
  <node pkg="pkg_test_nodelet" type="test_node" name="my_node_name" output="screen"/>
<!--  </group>-->
</launch>
